{% extends "layout.html" %}
{% block content %}


<select id="filters" class="btn btn-primary dropdown-toggle">
    <option selected>Filter</option>
    <option value="blur">Blur</option>
    <option value="contour">Contour</option>
    <option value="detail">Detail</option>
</select>
<label><input type="checkbox" id="cbox">B&W</label>
<div id="openseadragon1" style="height: 600px;" class="w-auto p-3"></div>

<!-- EXPERIMENTAL-->
{% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ post.author.username }}</a>
              <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
            <p class="article-content">@({{ post.x }}, {{ post.y }})<br>{{ post.content }}</p>
            <img src="{{ post.clip }}" height="200">
          </div>
        </article>
    {% endfor %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<script src="{{ url_for('static', filename='openseadragon/openseadragon.min.js') }}"></script>
<script src="{{ url_for('static', filename='openseadragon/dist/openseadragonselection.js') }}"></script>
<script type="text/javascript">
    const socket = io()
    var viewer = OpenSeadragon({
      id: "openseadragon1",
      //showNavigator:  true,
      sequenceMode: true,
      // Set the icons theme
      prefixUrl: "{{ url_for('static', filename='openseadragon/images/') }}",
      tileSources: [
      {
          type: 'image',
          url: "{{ url_for('static', filename='images/stadium.jpg') }}"
      },{
        type: 'image',
        url: "{{ url_for('static', filename='images/mountain.jpg') }}"
      },{
        type: 'image',
        url: "{{ url_for('static', filename='images/snow.jpg') }}"
        },]
  });
  //selection plugin
    selection = viewer.selection({
        restrictToImage: true,
        onSelection: function(rect) {

            var inpt = prompt("Please enter a description:", "Description");
            if (inpt == null || inpt == "Description") {
                inpt = "";
            }
            var x = document.getElementById("cbox").checked;
            var filter = document.getElementById("filters").value;
            console.log(filter);
            socket.emit('message', {url: viewer.source.url, x: rect.x, y: rect.y, width: rect.width, height: rect.height, desc: inpt, filter: filter, bw: x});

//             html2canvas(document.querySelector(".openseadragon-canvas")).then(canvas => {
//     document.body.appendChild(canvas)
// });
        }
    });
    //console.log(viewer);
    socket.on('message', function(clipmsg) {
        console.log(clipmsg);
        $('#maindiv').append('<article class="media content-section"><div class="media-body"><div class="article-metadata"><a class="mr-2" href="#">'+clipmsg.author+'</a><small class="text-muted">'+clipmsg.date+'</small></div><h2><a class="article-title" href="#">'+clipmsg.width+'x'+clipmsg.height+'</a></h2><p class="article-content">@('+clipmsg.x+', '+clipmsg.y+')<br>'+clipmsg.desc+'</p><img src="'+clipmsg.clip+'" height="200"></div></article>');
    })
</script>


{% endblock content %}
